.swatch,
.grid,
.cell {
  border: 1px solid black;
}

.swatch {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
}

#selected {
  border: 1px solid rgba(81, 203, 238, 1);
}

.button:hover {
    border: 1px solid rgba(81, 203, 238, 1);
}